@if(errorMessage !== ''){
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
} @else {
    <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h2>Trending Movies</h2>
          </div>
        </div>
      </div>
    <div class="row">
    @for(movie of movies; track $index)
    {   
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design">
          <div class="events_item">
            <div class="thumb">
              <a href="#"><img src="assets/images/course-01.jpg" alt=""></a>
              <span class="category"></span>
              <span class="price"><h6><em></em></h6></span>
            </div>
            <div class="down-content">
              
              <h4>{{ movie.title }}</h4>
              
              <p class="card-text"><small class="text-muted"><i class="bi bi-calendar-date-fill"></i> Year: {{
                  movie.year }}</small></p>
            </div>
          </div>
        </div>
    }
</div>
}

