@if(errorMessage !== ''){
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
} @else {
<div class="row">
  <div class="col-lg-12 text-center mb-2">
    <div class="section-heading">
      <h2>Search Movies</h2>
    </div>

    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Title</label>
        <input type="text" formControlName="title" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" />
        @if (submitted && f['title'].errors) {
        <div class="invalid-feedback">
          @if (f['title'].errors['required']) {
          <div>Title is required</div>
          }
        </div>
        }
        <div class="form-group">
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>Buscar</button>
          
        </div>
      </div>
    </form>
    

  </div>
</div>

<div class="row">

  @if(movies.length === 0){
  <div class="alert alert-warning" role="alert">
    No se encontraron resultados!
  </div>
}

  @for(movie of movies; track $index)
  {


  <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design">
    <div class="events_item">
      <div class="thumb">
        <a href="#"><img src="assets/images/course-01.jpg" alt=""></a>
        <span class="category"></span>
        <span class="price">
          <h6><em></em></h6>
        </span>
      </div>
      <div class="down-content">

        <h4>{{ movie.title }}</h4>
        <span class="category"><i class="bi bi-bookmark-plus-fill"></i> Type:{{
          movie.type }}</span>
        <p class="card-text"><small class="text-muted"><i class="bi bi-calendar-date-fill"></i> Year: {{
            movie.year }}</small></p>
      </div>
    </div>
  </div>

  }
</div>
}