<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <h1>Movies MasUno</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li class="scroll-to-section"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                      <li class="scroll-to-section"><a [routerLink]="['/popular']" routerLinkActive="active">Popular Movies</a></li>
                      <li class="scroll-to-section"><a [routerLink]="['/trending']" routerLinkActive="active">Trending Movies</a></li>
                      <li class="scroll-to-section"><a [routerLink]="['/search']" routerLinkActive="active">Search Movies</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>